<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- <link rel="icon" href="../../../../favicon.ico"> -->

  <title>Домофон-Сервис</title>

  <% include common/bootstrap_css.ejs %>
  <link href="/background.css" rel="stylesheet">
</head>

<body role="document">

  <div class="container">
    <div class="container col-sm-12" id="mainform">
      <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title">Регистрация</div>
            <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="/">Вход</a></div>
          </div>
          <div class="panel-body">
            <form class="form-horizontal" role="form" method="post" action="/signup">
              <!-- onSubmit="return checkblank(this);"> -->
              <% if (message.length > 0) { %>
              <div class="alert alert-success col-sm-12"><%= message %></div>
              <% } %>
              <div id="signupalert" style="display:none" class="alert alert-danger">
                <p>Ошибка:</p>
                <span></span>
              </div>

              <div class="form-group">
                <label for="first_name" class="col-md-3 control-label">Имя</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="firstName" placeholder="Имя" autofocus>
                </div>
              </div>
              <div class="form-group">
                <label for="last_name" class="col-md-3 control-label">Фамилия</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="lastName" placeholder="Фамилия">
                </div>
              </div>
              <div class="form-group">
                <label for="user_name" class="col-md-3 control-label">Логин</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="userName" placeholder="Логин">
                </div>
              </div>
              <div class="form-group">
                <label for="password" class="col-md-3 control-label">Пароль</label>
                <div class="col-md-9">
                  <input type="password" class="form-control" name="password" placeholder="Пароль">
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-12">
                  <button id="btn-signup" type="submit" class="btn btn-success"><i class="icon-hand-right"></i>&nbsp;Создать пользователя</button>
                </div>
              </div>

            </form>
          </div>
        </div>


      </div>
    </div>


    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

</body>

</html>