<div class="modal bs-example-modal-normal" id="editFullAddressDialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Адрес</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="textCity" class="control-label">Город / поселок / деревня</label>
                <input type="text" class="form-control" name="textCity" id="textCity" readonly>
              </div>
            </div>
          </div>
          <div class="row" id="rowStreet">
            <div class="col-xs-12">
              <div class="form-group">
                <label for="editStreet">Улица</label>
                <div class="input-group">
                  <input type="text" class="form-control select-all" id="textStreet" />
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="addStreet" data-toggle="tooltip" data-placement="top" title="Добавить улицу">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="row" id="rowHouse">
            <div class="col-xs-6">
              <div class="form-group">
                <label for="editHouse">Дом</label>
                <div class="input-group">
                  <input type="text" class="form-control select-all" id="textHouse" />
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="addHouse" data-toggle="tooltip" data-placement="top" title="Добавить дом">
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="alert alert-success alert-dismissible" role="alert" id="temporaryMessage" hidden>
              </div>
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button class="btn btn-success" id="changeAddress">&nbsp;Занести&nbsp;</button>
        </div>
      </div>
    </div>
  </div>